@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

footer {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.alert {
  text-align: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
}

.centeredImage {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1.5%;
}
